#app{
    width: 100%;
    height: 800px;
    background-color: aquamarine;
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
#game{
     width: 100%;
    height: 800px;
    background-color:blue;
}
img:hover{
    
    transform: scale(1.2);
}
#chatbot{
     width: 100%;
    height: 800px;
    background-color:aqua;
}
.container{
    text-align: center;
}
#myCarousel{
    background-color: cornflowerblue;
}
#myCarousel2{
    background-color:chartreuse;
}
#myCarousel img{
    height: 300px;
    margin-top: 35px;
}
#myCarousel2 img{
    height: 300px;
    margin-top: 35px;
}
.carousel-inner p{
   margin-bottom: 15px;
    margin-top: 15px;
    color:darkblue;
    font-size: 20px;

}